<div class="d-flex flex-column justify-content-center align-items-center container">
    <h1>Nouveau Post</h1><br>
    <%= render 'form', post: @post %>

    <div class="d-flex flex-column justify-content-center align-items-center form-actions m-2 w-50">
        <a class="btn btn-danger w-50" href = "<%= posts_path %>"> Annuler</a>
    </div>
</div>